@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --black: rgba(0, 0, 0, 1);
  --eerie-black: rgba(28, 28, 28, 1);
  --card-gray: rgba(208, 210, 218, 0.2);
  --dove-gray: rgba(112, 112, 112, 1);
  --mischka: rgba(206, 211, 220, 1);
  --porcelain: rgba(239, 242, 245, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 26px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 64px;

  --font-family-inter: "Inter";
}

* {
  font-family: "Inter", sans-serif;
}

.inter-semi-bold-eerie-black-26px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.inter-semi-bold-dove-gray-26px {
  color: var(--dove-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.inter-semi-bold-eerie-black-20px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.inter-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.inter-semi-bold-dove-gray-20px {
  color: var(--dove-gray);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.inter-normal-eerie-black-16px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}

.inter-medium-dove-gray-18px {
  color: var(--dove-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}

.inter-mediumm-eerie-black-14px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
}

.inter-semi-bold-eerie-black-32px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  font-style: normal;
}

.inter-bold-eerie-black-32px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}

.inter-bold-eerie-black-150px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: 150px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}

.inter-bold-eerie-black-24px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}

.inter-normal-dove-gray-24px {
  color: var(--dove-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.inter-bold-eerie-black-26px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}

.inter-bold-eerie-black-64px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}

/* Styles */
@media (min-width: 992px) {
  .page-margin {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

.height-100vh {
  height: 100vh;
}

.hue-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hue-container-image {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  filter: blur(80.5px);
}

.mission-m-t {
  margin-top: 15vh;
}

.outline-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 18px 8px 10px;
  gap: 12px;
  background: var(--white);
  border: 1px solid #ced3dc;
  border-radius: 32px;
}

.outline-button-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #343a3f;
}

.icon-container {
  align-items: center;
  padding: 8px;
  gap: 10px;

  width: 36px;
  height: 36px;

  background: linear-gradient(180deg, #aeee85 0%, #88d557 100%);
  box-shadow: 0px 4px 6px rgba(150, 213, 87, 0.1);
  border-radius: 46px;
}

.fpl-card {
  box-sizing: border-box;

  background: #ffffff;

  border: 1px solid #ced3dc;
  border-radius: 14px;
}

.fpl-quote-ellipse {
  align-items: center;
  display: flex;
  flex-direction: row;

  position: absolute;
  width: 52px;
  height: 52px;
  left: -10px;
  top: -25px;

  background: #ffffff;
  /* White/3 */

  border: 1px solid #ced3dc;
  border-radius: 50px;
}

.fpl-container-gray-bg {
  background: #f5f5f7;
  border-radius: 20px;
}

.fpl-card-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  letter-spacing: -0.01em;

  color: #676c71;
}

.fpl-icon-offset-container {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px;
  gap: 10px;

  position: absolute;
  width: 140px;
  height: 140px;
  left: -50px;

  background: #ffffff;
  /* White/2 */

  border: 1px solid #eef2f9;
  border-radius: 17px;
}

.circular-button {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
  width: 80px;
  height: 80px;

  /* White/3 */

  border: 1px solid #ced3dc;
  border-radius: 65px;
  transform: rotate(-180deg);
}

.splide__slide img {
  width: 100%;
  height: auto;
}

.img-container {
  width: auto;
  height: 450px;
  border-radius: 16px;
}

.bg-card-gray {
  background-color: #1c1c1cc2;
}

.bg-card-black {
  background-color: var(--eerie-black);
}

.white-btn {
  box-sizing: border-box;
  height: 32px;

  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 32px;
}

.fpl-border-radius {
  border-radius: 20px 20px 20px 20px !important;
}

.card-body {
  border-radius: 0px 0px 20px 20px !important;
}

.card-img-top {
  border-radius: 20px 20px 0px 0px !important;
}

.fpl-avatar-card {
  width: 340px;
  height: 400px;

  background: #dfdfe3;
  border-radius: 16px;
}

.pos-relative {
  position: relative;
}
